
.common-container{
    text-align: center;
}

.common-wrapper{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 40px;
}

.common-table {
    width: 700px;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
}

.common-table-header{
    padding: 10px 22px;
    background: darkseagreen;
}

.common-table-column {
    padding: 10px 48px;
    text-align: center;
    font-size: 16px;
}

.common-table-row:hover {
    background-color: gainsboro;
    cursor: pointer;
}
